<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1001169141629-3vbm224vrtbm6aapnd2cqlp5i6tu078v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001169141629-3vbm224vrtbm6aapnd2cqlp5i6tu078v</string>
	<key>API_KEY</key>
	<string>AIzaSyCEh7uh-87ts8LHXUmDUTkeJCFZ8fsXnLI</string>
	<key>GCM_SENDER_ID</key>
	<string>1001169141629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pinned</string>
	<key>PROJECT_ID</key>
	<string>pinned-1562539137828</string>
	<key>STORAGE_BUCKET</key>
	<string>pinned-1562539137828.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001169141629:ios:62872f9f0023a97d</string>
	<key>DATABASE_URL</key>
	<string>https://pinned-1562539137828.firebaseio.com</string>
</dict>
</plist>